<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bodyTemplatePath" value="" />
    <add key="subjectTemplate" value="template for subject #modifiedOn#"/>
    <add key="connectionString" value="" />
    <!--query should return columns name 'email' and 'modifiedOn'-->
    <add key="query" value="" />

    <!--serilog configuration-->
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:using:Console" value="Serilog.Sinks.Console"/>
    <add key="serilog:write-to:Console"/>
    <add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.SystemConsoleTheme::Colored, Serilog.Sinks.Console"/>
    <!--<add key="serilog:using:EventLog" value="Serilog.Sinks.EventLog"/>
    <add key="serilog:write-to:EventLog"/>
    <add key="serilog:write-to:EventLog.source" value="SQL2Mail"/>
    <add key="serilog:write-to:EventLog.restrictedToMinimumLevel" value="Information"/>-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="simply@care.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="<email>" password="<password>" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
